<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/img/weather.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{title}}</title>

    {{!-- hide the loading gif --}}
    <style>
      #loading {
        display: none;
      }
    </style>

  </head>

  <body>
    {{!-- including the header from partials --}}
    {{>header}}

    <div class="container d-flex justify-content-center mb-5">
      <div class="card border-primary mt-5 mb-5" style="width: 36rem">

        {{!-- set the heading taken from src/app.js --}}
        <h3 class="text-center mt-3" id="heading">
          {{body}}
        </h3>

        {{!-- for displaying the obtained result --}}
        <div id="result"></div>

        {{!-- for displaying the loading gif --}}
        <div id="loading"></div>

        {{!-- for displaying the form --}}
        <div class="card-footer">
            <div class="row mt-3">
              <div id="location-label" class="col-sm-4 text-center">
                    Enter Location:
              </div>
              <div class="col-sm-8 text-center">
                      <input type="text" id="place" placeholder="Enter a place here" class="form-control">
              </div>
            </div>
           <hr>
            <div class="row">
              <div class="col text-center justify-content-center">
                    <a class="btn btn-success mb-2" href="" role="button" id="get-weather" style="cursor: pointer">Get Weather</a>
              </div>
            </div>
        </div>
      </div>
    </div>

    {{!-- including the footer from partials --}}
    {{>footer}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    {{!-- including js/app.js to read from the form and display results --}}
    <script src="js/app.js"></script>
    {{!-- no need for entire path specification as it has been defined in src/app.js  --}}
    
  </body>
</html>